* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #000000;
    color: #fdfdfd;
}

header {
    padding: 2rem 1rem;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #ffffff;
}

#new-task-form {
    display: flex;
}

#new-task-submit {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    color: #fff;
    border: 2px solid rgb(238, 232, 232);
    border-radius: 25px;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: rgb(112, 112, 112);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: #faf6f6;
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: rgba(150, 150, 150, 0.938);
}

#new-task-input::placeholder {
    color: pink;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: black;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: black;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    color: rgb(6, 155, 14);
}

.task .actions .delete {
    color: crimson;
}